.layout {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(4, fit-content(100%));
  
  position: relative;
  
  margin-top: 70px;
}

.line {
  width: 1px;
  height: 100%;
  
  background-color: #4d4236;
  
  position: absolute;
  
  left: 19px;
  
  z-index: 1;
}

.image {
  width: 100%;
  aspect-ratio: 16 / 15;
  max-height: 360px;
  
  object-fit: cover;
  
  position: relative;
}

@media (min-width: 768px) {
  .layout {
    width: calc(80%);
    
    grid-template-columns: fit-content(100%) 45% 55%;
    
    margin: 185px auto 0;
  }
  
  .line {
    height: 100%;
  
    grid-row: span 3;
    order: 1;
  
    position: relative;
    
    left: 0;
  }
  
  .image {
    height: 100%;
    max-height: none;
    
    grid-row: span 3;
    order: 3;
  }
}