.about {
  position: relative;
  
  margin-top: 70px;
}

.line {
  width: 1px;
  height: 100%;
  
  background-color: #4d4236;
  
  position: absolute;
  
  left: 19px;
  
  z-index: 1;
}

.image {
  width: 100%;
  aspect-ratio: 16 / 15;
  
  object-fit: contain;
  
  position: relative;
}

@media (min-width: 768px) {
  .about {
    margin-top: 185px;
  }
}