.footer {
  background-color: #4d4236;
  
  margin-top: 70px;
  padding-top: 30px;
  padding-bottom: 70px;
}

.logo {
  width: 80px;
  height: 80px;
  
  display: block;
  
  margin: 0 auto;
  /*padding: 30px 0;*/
}

.socials-container {
  width: calc(100% - (90px * 2));
  max-width: 200px;
  
  list-style: none;
  
  display: flex;
  justify-content: space-between;
  
  margin: 30px auto;
  padding: 0;
}

.socials-logo {
  width: 20px;
  height: 20px;
}

.nav-container {
  width: calc(100% - (20px * 2));
  
  list-style: none;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  
  margin: 0 auto;
  padding: 0;
}

.nav-link {
  color: #eee7D7;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

@media (min-width: 768px) {
  .footer {
    margin-top: 80px;
    padding-top: 55px;
    padding-bottom: 70px;
  }
  
  .socials-container {
    margin: 70px auto;
  }
}