@keyframes appear1 {
  from {
    height: 0;
  }
  to {
    height: 15px;
  }
}

@keyframes appear2 {
  from {
    height: 0;
  }
  to {
    height: 12px;
  }
}

@keyframes appear3 {
  from {
    height: 0;
  }
  to {
    height: 9px;
  }
}

.nav-bar {
  background-color: #eee7d7;
  
  position: sticky;
  
  top: 0;
  left: 0;
  padding: 12px 0;
  
  z-index: 2;
}

.menu-container {
  width: calc(100% - (20px * 2));
  max-width: 400px;
  
  list-style: none;
  
  visibility: visible;
  opacity: 1;
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
  margin: 0 auto;
  padding: 0;
  
  transition: opacity 0s .2s linear;
}

.menu-container_hidden {
  visibility: hidden;
  opacity: 0;
}

.menu {
  max-width: 458px;
  
  list-style: none;
  
  display: flex;
  justify-content: space-between;
  column-gap: clamp(60px, 7vw, 80px);
  
  margin: 0;
  padding: 0;
}

.menu-item {
  position: relative;
}

.active-menu-item-pict {
  width: 2px;
  height: 15px;
  
  background-color: #4d4236;
  
  display: none;
  
  position: absolute;
  
  bottom: 5px;
  left: -9px;
  border-radius: 1px;
  
  animation: appear1 .2s 0s linear;
}

.active-menu-item-pict::before {
  content: '';
  width: 2px;
  height: 12px;
  
  background-color: #4d4236;
  
  position: absolute;
  
  bottom: 0;
  left: -5px;
  border-radius: 1px;
  
  animation: appear2 .2s 0s linear;
}

.active-menu-item-pict::after {
  content: '';
  width: 2px;
  height: 9px;
  
  background-color: #4d4236;
  
  position: absolute;
  
  bottom: 0;
  left: -10px;
  border-radius: 1px;
  
  animation: appear3 .2s 0s linear;
}

.active-menu-item-pict_active {
  display: block;
}

.link {
  color: #4D4236;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
  
  cursor: pointer;
}

.link_active {
  font-weight: 700;
}

.logo-container {
  font-size: 0;
  
  cursor: pointer;
  
  visibility: hidden;
  
  margin: 0;
  
  opacity: 0;
  
  transition: opacity .2s ease-in-out;
}

.logo-container_visible {
  visibility: visible;
  
  opacity: 1;
  
  transition: opacity .2s ease-in-out;
}

.logo {
  width: 22px;
  height: 22px;
}

.catalogue-button {
  color: #eee7D7;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  
  background-color: #4d4236;
  
  border: none;
  border-radius: 20px;
  padding: 7px 48px;
}

.socials-container {
  max-height: 22px;
  
  list-style: none;
  
  display: flex;
  column-gap: 30px;
  
  margin: 0;
  padding: 0;
}

.socials-logo {
  width: 22px;
  height: 22px;
}

@media (min-width: 480px) {
  .menu-container {
    width: calc(100% - (40px * 2));
    max-width: 768px;
  }
}

@media (min-width: 768px) {
  .menu-container {
    max-width: 1200px;
  }
  
  .logo-container {
    margin-right: 10%;
  }
}