.title {
  width: calc(100% - (30px * 2));
  
  color: #4d4236;
  font-size: clamp(28px, 5vw, 34px);
  text-align: center;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 20px;
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: clamp(66px, 17vw, 244px);
  
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #4d4236;
  
  margin: 0 auto;
  padding-top: clamp(82px, 12.5vw, 94px);
  padding-bottom: 30px;
}

.word {
  margin-right: -20px;
  padding: 0;
}

.logo {
  width: clamp(80px, 13.5vw, 100px);
  position: absolute;
  
  top: 40px;
  left: 50%;
  
  transform: translate(-50%);
}