.title {
  width: calc(100% - (30px * 2));
  
  color: #4d4236;
  font-size: 28px;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 20px;
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 66px;
  
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #4d4236;
  
  margin: 0 auto;
  padding: 92px 0 30px 0;
}

.word {
  margin-right: -20px;
  padding: 0;
}

.logo {
  position: absolute;
  
  top: 40px;
  left: 50%;
  
  transform: translate(-50%);
}