.navigation {
  width: calc(100% - (20px * 2));
  
  list-style: none;
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
  margin: 0 auto;
  padding: 0;
}

.logo {

}

.logo {
  width: 22px;
  height: 22px;
}

.button {
  color: #eee7d7;
  font-size: 16px;
  font-weight: 700;
  
  background-color: #4d4236;
  
  border: none;
  border-radius: 20px;
  padding: 7px 48px;
}