.navBarContainer {
  width: calc(100% - (20px * 2));
  max-width: 400px;
  
  list-style: none;
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
  margin: 0 auto;
  padding: 0;
}

.logoContainer {
  margin: 0;
}

.menu {
  max-width: 458px;
  
  list-style: none;
  
  display: flex;
  justify-content: space-between;
  column-gap: clamp(60px, 7vw, 80px);
  
  margin: 0;
  padding: 0;
}

.socialsContainer {
  list-style: none;
  
  display: flex;
  column-gap: 30px;
  
  margin: 0;
  padding: 0;
}

.socialsLogo {
  width: 22px;
  height: 22px;
}

.logo {
  width: 22px;
  height: 22px;
}

.catalogueButton {
  color: #eee7d7;
  font-size: 16px;
  font-weight: 700;
  
  background-color: #4d4236;
  
  border: none;
  border-radius: 20px;
  padding: 7px 48px;
}

@media (min-width: 480px) {
  .navBarContainer {
    width: calc(100% - (40px * 2));
    max-width: 768px;
  }
}

@media (min-width: 768px) {
  .navBarContainer {
    max-width: 1200px;
  }
  
  .logoContainer {
    margin-right: 10%;
  }
}