.layout {
  width: calc(100% - (20px * 2));
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 20px;
  
  margin: 70px auto 0;
}

.text {
  color: #4d4236;
  text-align: center;
  font-size: clamp(22px, 6vw, 30px);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: clamp(8.8px, 3vw, 14.4px);
  
  margin: 0;
}

.accent {
  color: #4d4236;
  text-align: center;
  font-size: clamp(24px, 6vw, 32px);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 14.4px;
  
  margin: 0;
}

.lines-container {
  width: 26px;
  height: 20px;
}

.lines {
  width: 2px;
  height: 100%;
  
  background-color: #4d4236;
  
  display: none;
  
  position: relative;
  
  border-radius: 1px;
}

.lines::before {
  content: '';
  width: 2px;
  height: 70%;
  
  background-color: #4d4236;
  
  position: absolute;
  
  left: 12px;
  bottom: 0;
  border-radius: 1px;
}

.lines::after {
  content: '';
  width: 2px;
  height: 40%;
  
  background-color: #4d4236;
  
  position: absolute;
  
  left: 24px;
  bottom: 0;
  border-radius: 1px;
}

@media (min-width: 768px) {
  .layout {
    width: 70%;
    
    margin-top: 185px;
  }
}

@media (min-width: 1200px) {
  .layout {
    flex-direction: row;
    align-items: center;
  }
  
  .lines {
    display: block;
  }
}