.layout {
  margin-top: 70px;
}

.text {
  color: #4d4236;
  text-align: center;
  font-size: clamp(22px, 6vw, 30px);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 8.8px;
}

.accent {
  color: #4d4236;
  text-align: center;
  font-size: clamp(24px, 6vw, 32px);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 14.4px;
}

@media (min-width: 768px) {
  .layout {
    margin-top: 185px;
  }
}