.layout {
  margin-bottom: 70px;
}

.form-container {
  width: 100%;
  
  background-color: #eee7d7;
}

.text-area {
  width: calc(100% - (20px * 2));
  aspect-ratio: 56 / 25;
  
  background-color: transparent;
  
  display: block;
  
  margin: 0 auto 20px;
  padding: 14px 20px;
  border-radius: 10px;
  border: 1px solid #4d4236;
  
  resize: vertical;
}

.text-area:focus {
  outline: none;
}

@media (min-width: 768px) {
  .layout {
    /*noinspection CssUnknownTarget*/
    background-image: url('~public/cover/table.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    
    margin-bottom: 185px;
  }
  
  .form-container {
    width: 50%;
    max-width: 510px;
    min-width: 410px;
    
    margin-left: 60px;
  }
  
  .form {
    width: calc(100% - (40px * 2));
  }
}