.title {
  width: calc(100% - (20px * 2));
  max-width: 400px;
  
  color: #4d4236;
  font-size: clamp(32px, 5vw, 36px);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  
  display: block;
}

.title_place_item {
  margin: 0 auto 20px;
}

.title_place_about {
  margin: 30px auto 20px 40px;
}

.title_place_contacts {
  color: #eee7d7;
  text-align: center;
  
  margin: 0 auto;
  padding: 30px 0;
}

.title_place_order {
  text-align: center;
}

@media (min-width: 480px) {
  .title {
    width: calc(100% - (40px * 2));
    max-width: 768px;
  }
}

@media (min-width: 768px) {
  .title_place_item {
    margin-top: 25px;
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  .title_place_about {
    margin-top: 0;
  }
}