.layout {
  width: calc(100% - (20px * 2));
  max-width: 400px;
  
  color: #4d4236;
  font-size: clamp(32px, 5vw, 36px);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  
  display: block;
}

.layout_place_item {
  margin: 0 auto 20px;
}

.layout_place_about {
  width: calc(100% - 40px - 20px);
  max-width: 380px;
  
  margin: 30px auto 20px 40px;
}

.layout_place_contacts {
  color: #eee7d7;
  text-align: center;
  
  margin: 0 auto;
  padding: 30px 0;
}

.layout_place_order {
  text-align: center;
  
  margin: 0 auto 20px;
}

.layout_place_item-info {
  width: calc(100% - (20px * 2));
  max-width: 400px;
  
  text-align: center;
  
  margin: 40px auto 30px;
}

@media (min-width: 480px) {
  .layout_place_about {
    width: calc(100% - 80px - 40px);
    max-width: 768px;
  
    margin-left: 80px;
  }
  
  .layout_place_item-info {
    width: calc(100% - (40px * 2));
    max-width: none;
  }
}

@media (min-width: 768px) {
  .layout {
    width: calc(100% - (40px * 2));
    max-width: none;
  }
  
  .layout_place_item {
    margin-bottom: 0;
  }
  
  .layout_place_about {
    margin-left: 40px;
  }
  
  .layout_place_order {
    text-align: left;
    
    margin: 0 auto 30px;
  }
  
  .layout_place_contacts {
    text-align: left;
    
    margin: 0 0 0 clamp(17%, 23vw, 25%);
    padding-top: 60px;
    padding-bottom: 0;
  }
  
  .layout_place_item-info {
    width: 100%;
    
    text-align: left;
    
    margin: 0 auto 30px;
  }
}