.page {
  max-width: 1200px;
  
  background-color: #eee7d7;
  
  margin: 0 auto;
  padding: 0;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

.page + .header {
  background-color: black;
  row-gap: 0;
}