@keyframes turnIntoBurger {
  from {
    transform: translate(0, 9px) rotate(-45deg);
  }
  to {
    transform: translate(0, 9px) rotate(0);
  }
}

@keyframes turnIntoCross {
  from {
    transform: translate(0, 9px) rotate(0);
  }
  to {
    transform: translate(0, 9px) rotate(-45deg);
  }
}

.container {
  width: 22px;
  height: 21px;
  
  cursor: pointer;
  
  overflow: hidden;
  
  transition: opacity .4s ease-out;
}

.icon {
  width: 22px;
  height: 3px;
  
  background-color: #4d4236;
  
  position: relative;
  
  border-radius: 50px;
  
  transform: translate(0, 9px);
  
  animation: turnIntoBurger .2s forwards cubic-bezier(.55,.06,.68,.19);
}

.icon:before {
  content: '';
  
  width: 22px;
  height: 3px;
  
  background-color: #4d4236;
  
  position: absolute;
  
  border-radius: 50px;
  
  transform: translate(0, -9px);
  
  transition: transform .2s cubic-bezier(.55,.06,.68,.19);
  transition-delay: .1s;
}

.icon:after {
  content: '';
  
  width: 22px;
  height: 3px;
  
  background-color: #4d4236;
  
  position: absolute;
  
  border-radius: 50px;
  
  transform: translate(0, 9px);
  
  transition: transform .2s cubic-bezier(.55,.06,.68,.19);
  transition-delay: .1s;
}

.icon_turned-into-cross {
  animation: turnIntoCross .2s forwards cubic-bezier(.55,.06,.68,.19) .2s;
}

.icon_turned-into-cross:before {
  transform: translate(0, 0);
  
  transition: transform .2s cubic-bezier(.55,.06,.68,.19);
  transition-delay: 0s;
}

.icon_turned-into-cross:after {
  transform: translate(0, 0) rotate(90deg);
  
  transition: transform .2s cubic-bezier(.55,.06,.68,.19);
  transition-delay: 0s;
}