.item-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(4, fit-content(100%));
}

.image {
  width: 100%;
  aspect-ratio: 56 / 31;
  
  object-fit: contain;
  
  position: relative;
}

.link {
  color: #4d4236;
  text-decoration: none;
  
  cursor: pointer;
}

@media (min-width: 768px) {
  .item-container_image_left {
    grid-template-columns: 60% 1fr;
    grid-template-rows: repeat(3, fit-content(100%));
  }
  
  .item-container_image_right {
    grid-template-columns: 1fr 60%;
    grid-template-rows: repeat(3, fit-content(100%));
  }
  
  .image {
    height: 100%;
    max-height: 470px;
    
    grid-row: span 3;
  }
  
  .image_left {
    order: -1;
  }
}