.itemList {
  margin-top: 70px;
}

.itemListContainer {
  list-style: none;
  
  display: grid;
  row-gap: 70px;
  
  margin: 0;
  padding: 0;
}

@media (min-width: 768px) {
  .itemList {
    margin-top: 185px;
  }
  
  .itemListContainer {
    row-gap: 185px;
  }
}