.layout {
  position: relative;
  
  margin-top: 28px;
}

.image-container {
  width: 100%;
  
  display: grid;
  grid-template-columns: 1fr;
}

.image {
  width: 100%;
  height: calc(100vh - 222px);
  object-fit: cover;
  
  position: relative;
}

.image:first-child {
  grid-row: span 2;
}

.image:nth-child(2) {
  display: none;
}

.image:nth-child(3) {
  display: none;
}

@media (min-width: 768px) {
  .image-container {
    height: calc(100vh - 232px);
    
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 60% 40%;
  }
  .image {
    height: 100%;
  }
  
  .image:nth-child(2) {
    display: block;
  }
  
  .image:nth-child(3) {
    display: block;
  }
}